<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head/meta_tag' %>
    <%= render 'layouts/head/title' %>
    <%= render 'layouts/head/link_tag' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/copyright' %>
      <%= render 'layouts/modal/login_modal' %>
      <%= render 'layouts/modal/sign_up_modal' %>
      <%= render 'layouts/js' %>
    </div>
  </body>
</html>
